In [2]:
import pandas as pd

In [3]:
# Загрузка данных из Excel-файла в две таблицы
df_import = pd.read_excel(r'C:\Users\Павел\Desktop\import_merged_data.xlsx', sheet_name='import')
df_dict = pd.read_excel(r'C:\Users\Павел\Desktop\import_merged_data.xlsx', sheet_name='dict')

# Осуществление JOIN по столбцам asset_transaction и ticker
merged_df = pd.merge(df_import, df_dict, left_on='asset_transaction', right_on='ticker', how='left')

# Сохранение результата в новую таблицу
merged_df.to_excel(r'C:\Users\Павел\Desktop\merged_data.xlsx', index=False)

# Отобразить получившуюся таблицу
merged_df.style