In [2]:
import pandas as pd

In [3]:
#    Excel-   
df_import = pd.read_excel(r'C:\Users\\Desktop\import_merged_data.xlsx', sheet_name='import')
df_dict = pd.read_excel(r'C:\Users\\Desktop\import_merged_data.xlsx', sheet_name='dict')

#  JOIN   asset_transaction  ticker
merged_df = pd.merge(df_import, df_dict, left_on='asset_transaction', right_on='ticker', how='left')

#     
merged_df.to_excel(r'C:\Users\\Desktop\merged_data.xlsx', index=False)

#   
merged_df.style